fastapi
fastapi-login
fastapi-users
fastapi-health
asyncio
uvicorn[standard]==0.21.1
gunicorn==20.1.0
httpx

#for database
dnspython
motor
mongomock_motor

#for loading environment variables
python-dotenv

#for email validation
pydantic

#security
bcrypt
passlib[bcrypt]

#for testing
pytest
requests
pytest-asyncio
pytest-cov

# nested filter
flatdict
