fastapi
fastapi-login
fastapi-users
fastapi-health
fastapi-utils
asyncio
uvicorn[standard]
gunicorn
httpx

#for database
dnspython
motor
mongomock_motor

#for loading environment variables
python-dotenv

#for email validation
pydantic
pydantic[email]

#security
bcrypt
passlib[bcrypt]

#for testing
pytest
requests
pytest-asyncio
pytest-cov

# nested filter
flatdict